body {
  font-family: Helvetica;
  margin: 20px
}
.right {
  float: right;
}
p {
  margin: 3px;
}

h3 {
  margin: 3px;
}
ul {
  margin-top: 3px;
}
blockquote {
  margin: 3px 3%;
}

h4 {
  margin: 3px;
}
#projects {
  margin: auto 2%;
}


