body {
  font-family: Helvetica;
  margin: 20px
}

.right {
  float: right;
}

p {
  margin: 3px;
}

h2 {
  margin: 3px;
  margin-top: 6px;
}

h3 {
  margin: 3px;
}

ul {
  margin-top: 1px;
}

li {
    padding: 1px;
}

blockquote {
  margin: 3px 3%;
}

h4 {
  margin: 3px;
}

